<div *ngIf="showForm" class="max-w-3xl center flex justify-center ml-auto mr-auto">
  <form>
    <div class="flex flex-col">
      <div class="mb-2">
        <label class="block text-gray-800 text-md font-bold mb-2">
          Product name
        </label>
        <input class="shadow apPpearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="text">
      </div>

      <div class="mb-2">
        <label class="block text-gray-800 text-md font-bold mb-2">
          Stock
        </label>
        <div class="flex justify-items-center items-center">
          <input class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:shadow-outline" type="text" autofocus>
          <svg class="h-5 w-5 -ml-16 mr-2 cursor-pointer">       
            <image (click)="null" class="h-5 w-5" xlink:href="assets/img/add.svg"/>    
          </svg>
          <svg (click)="null" class="h-5 w-5 cursor-pointer">       
            <image class="h-5 w-5" xlink:href="assets/img/remove.svg"/>    
          </svg>
        </div>
      </div>

      <div class="mb-2">
        <label class="block text-gray-800 text-md font-bold mb-2">
          Price
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline"type="text">
      </div>

      <div class="mb-2">
        <label class="block text-gray-800 text-md font-bold mb-2">
          Image URL
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="text">
      </div>

      <div class="mb-2">
        <label class="block text-gray-800 text-md font-bold mb-2">
          Category
        </label>
        <input list="product-categories" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="text">

        <datalist id="product-categories">
          <option value="Fruits">
          <option value="Legumes">
          <option value="Viande">
          <option value="Poisson">
          <option value="Hygiène">
          <option value="Boissons">
          <option value="Entretien">
          <option value="High-Tech">
          <option value="Surgelés">
        </datalist>
      </div>

      <div class="mb-2">
        <label class="block text-gray-800 text-md font-bold mb-2">
          Description
        </label>
        <textarea class="h-36 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:shadow-outline" type="text"></textarea>
      </div>
    </div>
  </form>
</div>
