<main>
  <!-- loading modal component while fetching items -->
  <app-loading></app-loading>

  <!-- TODO make a button category component AND apply different style to the selected one -->
  <div class="flex items-center mx-auto justify-center space-x-4 mb-8">
    <button (click)="setCategory('All')" class="rounded-lg bg-blue-500 hover:bg-blue-400 shadow-xl block text-white font-bold py-3 px-6">
      All
    </button>
    <button (click)="setCategory('Fruits')" class="rounded-lg bg-blue-500 hover:bg-blue-400 shadow-xl block text-white font-bold py-3 px-6">
      Fruits
    </button>
    <button (click)="setCategory('Legumes')" class="rounded-lg bg-blue-500 hover:bg-blue-400 shadow-xl block text-white font-bold py-3 px-6">
      Legumes
    </button>
  </div>

  <app-items [parentData]="items"></app-items>

  <!-- form to add/edit item -->
  <app-form (triggerItemsFetchingEmitter)="triggerRefresh()"></app-form>

  <!-- popover for actions on item -->
  <div id="popover" class="z-10 fixed bg-gray-200 hidden rounded-lg space-y-3 p-2">
    <div class="flex pt-2 cursor-pointer" (click)="requestEdit()">
      <svg class="h-6 w-6">
        <image class="h-6 w-6" xlink:href="assets/img/edit.svg" />
      </svg>
      <p class="ml-2">Edit Item</p>
    </div>

    <div class="flex pb-2 cursor-pointer" (click)="requestDelete()">
      <svg class="h-6 w-6"> 
        <image class="h-6 w-6" xlink:href="assets/img/remove.svg" />
      </svg>
      <p class="ml-2">Delete Item</p>
    </div>
  </div>
</main>
