<div>
  <!-- navbar -->
  <app-navbar></app-navbar>
  <main>
    <!-- loading modal component while fetching items -->
    <app-loading></app-loading>

    <!-- TODO make a button category component AND apply different style to the selected one -->
    <div class="flex items-center mx-auto justify-center space-x-4 mb-8">
      <button (click)="setCategory('All')" class="rounded-lg bg-blue-500 hover:bg-blue-400 shadow-xl block text-white font-bold py-3 px-6">
        All
      </button>
      <button (click)="setCategory('Fruits')" class="rounded-lg bg-blue-500 hover:bg-blue-400 shadow-xl block text-white font-bold py-3 px-6">
        Fruits
      </button>
      <button (click)="setCategory('Legumes')" class="rounded-lg bg-blue-500 hover:bg-blue-400 shadow-xl block text-white font-bold py-3 px-6">
        Legumes
      </button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
      <div *ngFor="let item of items" class="max-w-xs mx-auto mb-6 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 border-2 border-black">
        <div class="px-4 py-2">
            <div class="flex justify-between items-center">
              <h1 class="text-3xl font-bold text-gray-800 uppercase dark:text-white">{{ item.name }}</h1>
              <svg id="moreActions" (click)="itemActions($event, item)" class="h-6 w-6 content-center cursor-pointer" viewBox="0 -192 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m320 64c0 35.347656-28.652344 64-64 64s-64-28.652344-64-64 28.652344-64 64-64 64 28.652344 64 64zm0 0"/><path d="m128 64c0 35.347656-28.652344 64-64 64s-64-28.652344-64-64 28.652344-64 64-64 64 28.652344 64 64zm0 0"/><path d="m512 64c0 35.347656-28.652344 64-64 64s-64-28.652344-64-64 28.652344-64 64-64 64 28.652344 64 64zm0 0"/></svg>
            </div>
            <h1>{{ item.category }}</h1>
        </div>
        <img *ngIf="item.image; else elseblock" class="object-cover w-full h-48 mt-2 border-black" [src]="item.image" alt="Photo related to the product">
        <ng-template #elseblock><img class="object-cover w-full h-48 mt-2 border-black" src="https://i.stack.imgur.com/y9DpT.jpg" alt="Placeholder photo for the product"></ng-template>
        <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
          <h1 class="text-lg font-bold text-white">{{ item.price }}€</h1>
          <h2 *ngIf="item.count > 3; else elseBlock" class="font-black text-green-600">Stock : {{ item.count }}</h2>
          <ng-template #elseBlock><h2 class="font-black text-red-600">Stock : {{ item.count }}</h2></ng-template>
          
          <!-- add/substract buttons -->
          <div class="flex items-center space-x-3">
            <svg class="cursor-pointer h-6 w-6 color-green-700">       
              <image (click)="addItem(item)" class="h-6 w-6" xlink:href="assets/img/add.svg"/>    
            </svg>
            <svg class="cursor-pointer h-6 w-6 color-green-700">       
              <image (click)="removeItem(item)" class="h-6 w-6" xlink:href="assets/img/remove.svg"/>    
            </svg>
          </div>

        </div>
      </div>
    </div>

    <!-- form to add/edit item -->
    <app-form (triggerItemsFetchingEmitter)="triggerRefresh()"></app-form>

    <!-- popover for actions on item -->
    <div id="popover" class="z-10 fixed bg-gray-200 hidden rounded-lg space-y-3 p-2">
      <div class="flex pt-2 cursor-pointer" (click)="requestEdit()">
        <svg class="h-6 w-6">
          <image class="h-6 w-6" xlink:href="assets/img/edit.svg" />
        </svg>
        <p class="ml-2">Edit Item</p>
      </div>

      <div class="flex pb-2 cursor-pointer" (click)="requestDelete()">
        <svg class="h-6 w-6"> 
          <image class="h-6 w-6" xlink:href="assets/img/remove.svg" />
        </svg>
        <p class="ml-2">Delete Item</p>
      </div>
    </div>
  </main>
</div>


