<div class="flex mx-auto flex-col justify-center items-center max-w-md">
  <div *ngIf="spotlight">

    <div class="border-2 shadow mb-3">
      <h1 class="text-4xl text-center mb-1 font-medium">
        Item Name
      </h1>
      <p class="text-4xl text-center text-gray-700">
        {{ spotlight.name }}
      </p>
    </div>
  
    <div class="border-2 shadow mb-3 rounded-b-lg">
      <h1 class="text-4xl text-center mb-1 font-medium">
        Item Image
      </h1>
      <img class="rounded-lg" [src]="spotlight.image" alt="Product image">
    </div>

    <div class="border-2 shadow mb-3">
      <h1 class="text-4xl text-center mb-1 font-medium">
        Item Description
      </h1>
      <p class="text-2xl text-center mb-2 text-gray-700">
        {{ spotlight.description }}
      </p>
    </div>

    <div class="border-2 shadow mb-3">
      <h1 class="text-4xl text-center mb-1 font-medium">
        Item Price
      </h1>
      <p class="text-3xl text-center mb-2 text-gray-700">
        {{ spotlight.price }}€
      </p>
    </div>

    <div class="border-2 shadow mb-3">
      <h1 class="text-4xl text-center mb-1 font-medium">
        Item Stock
      </h1>
      <p class="text-3xl text-center mb-2 text-gray-700">
        {{ spotlight.count }}
      </p>
    </div>

    <div class="border-2 shadow mb-3">
      <h1 class="text-4xl text-center mb-1 font-medium">
        Item Category
      </h1>
      <p class="text-3xl text-center mb-2 text-gray-700">
        {{ spotlight.category }}
      </p>
    </div>

  </div>

  <div *ngIf="!spotlight">
    <p class="text-4xl">Item not specified</p>
  </div>
</div>